@import '../styles/variables';

.calendar {
  display: flex;
  max-width: 60%;
}

.container {
  //background-color: $Very-Dark-Desaturated-Blue;
  border-radius: 20px;
  // box-shadow: 2px 2px 2px $Very-Dark-Desaturated-Blue,
  //   -2px -2px 2px $Very-Dark-Grayish-Blue-2;
  box-shadow: -2px -2px inset rgba(255, 255, 255, 0.04),
    3px 3px inset rgba(0, 0, 0, 0.2);
  padding: 40px;
  z-index: 1;
}

.header {
  font-size: $font-size;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 15%;
  h1 {
    color: $color;
    font-size: $font-size-l;
  }
  p {
    margin: 5px 0;
  }
  .icon,
  p {
    cursor: pointer;
    &:hover,
    &:active {
      color: $color;
    }
  }
}

.row-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  .day {
    box-shadow: none;
  }
}
.days-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.day {
  border-radius: 3px;
  color: $very-Light-Grayish-Blue;
  padding: 20px;
  background-color: transparent;
  border: none;
  box-shadow: -4px -4px 2px 0px inset #00000099, -2px -2px 3px 0px #ffffff11;
  &.prev-month,
  &.next-month {
    color: $dark-Grayish-Blue;
  }
  &.today {
    background-color: $color;
  }
  &:hover:not(div) {
    box-shadow: -2px 2px 0px 0px inset #00000099, 1px 0px 0px 0px #ffffff11;
    background-color: hsla(236, 9%, 61%, 0.5);
    transition: background-color 0.3s linear;
  }
  &:focus,
  &:active {
    outline: none;
  }
  &:active {
    transform: translateY(2px);
    opacity: 0.5;
  }
}

.withTodos {
  border: 1px solid $color;

  border-radius: 50%;
}
