@import '../styles/variables';

.container {
  &.todoList {
    margin-left: 10px;
    animation: appear-right 0.3s ease-in forwards;
    text-align: left;
    display: flex;
    flex-direction: column;

    h1 {
      color: $color;
      margin: 10px 0;
      width: 100%;
      display: flex;
      justify-content: space-between;
      .todo {
        cursor: pointer;
        &:hover,
        &:active {
          transition: color 0.3s linear;
          color: $light-Grayish-Blue;
        }
      }
    }
    .subtitle {
      display: inline;
      color: $very-Dark-Grayish-Blue;
      text-transform: capitalize;
      text-align: center;
      margin: 10px;
    }

    label {
      display: inline-flex;
      margin: 5px 0;
      align-items: center;
      border-bottom: 1px solid $Very-Dark-Grayish-Blue-1;
      p {
        align-self: flex-end;
      }
      padding-bottom: 8px;
    }
    .checkbox-todo-item {
      margin-right: 5px;
      height: 20px;
      width: 20px;
      &:checked + p {
        text-decoration: line-through;
        color: $Dark-Grayish-Blue;
      }
    }
  }
}

.new-todo-item {
  &:focus,
  &:active {
    outline: none;
    &::placeholder {
      color: $Very-Dark-Desaturated-Blue;
    }
  }
  margin: 10px 0;
  color: $very-Light-Gray;
  width: 200px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid $dark-Grayish-Blue;
}

@keyframes appear-right {
  from {
    opacity: 0;
    transform: translateX(-10px);
  }
  to {
    opacity: 1;
  }
}
